Lists are the collections of items, which means items are stored in a specific order and acces through index positions.It is mutable means u can add , remove elements after list is created and heterogeneous.
[] this is used for the list

In [36]:
names = ['Amulya','Srujan','Shashank','Rishab']
print(f"My name is {names[0]}")
print(f"My name is {names[-1]}")

My name is Amulya
My name is Rishab

In [37]:
numbers = [10,20,30,40,50,60]
print(f"Middle Numbers: {numbers[2:5]}")
print(f"Every Second Numbers: {numbers[::1]}")

Middle Numbers: [30, 40, 50]
Every Second Numbers: [10, 20, 30, 40, 50, 60]

In [ ]:
colors = ['White','orange','blue','red']
colors.append('yellow')
colors[1] = 'black'
print(colors)

['White', 'black', 'blue', 'red', 'yellow']

In [39]:
animals = ['dog','cat','cow','goat','sheep']

for animal in animals:
    print(f"Animals in the list are : {animal}")

Animals in the list are : dog
Animals in the list are : cat
Animals in the list are : cow
Animals in the list are : goat
Animals in the list are : sheep

In [40]:
squares = [x**2 for x in range(6)]
print(f"Squares of the numbers: {squares}")

Squares of the numbers: [0, 1, 4, 9, 16, 25]

Tupless

In [41]:
coord = (10,20,30,40)
print(f"Coordinates is {coord[0]}")
print(f"Coordinates is {coord[-2]}")

Coordinates is 10
Coordinates is 30

In [45]:
point = (5,10)
x,y = point
print(f"x:{x},y:{y}")

x:5,y:10

In [46]:
person = ("Shashank",21,"Developer")
print(f"Name: {person[0]}")
print(f"Age: {person[1]}")
print(f"Job role: {person[2]}")

Name: Shashank
Age: 21
Job role: Developer

In [ ]:
t1 = [1,2,4]
t2 = [3,5,6]
t3 = t1+t2
print(f"Result is: {t3}")

Result is: [1, 2, 4, 3, 5, 6]

In [51]:
fruits = ('apple','graphes','banana','cherry')
if 'banana' in fruits:
    print("Banana is there in the tuple")
else:
    print("Banana is not there in the tuple")

Banana is there in the tuple

In [52]:
fruits = ('apple','graphes','banana','cherry')
if 'orange' in fruits:
    print("Orange is there in the tuple")
else:
    print("Orange is not there in the tuple")

Orange is not there in the tuple

Dictionary in Python

In [53]:
person = {'name':'Shashank','age':21,'city':'Bangalore'}
print(f"Name:{person['name']}")
print(f"Age:{person['age']}")
print(f"City:{person['city']}")

Name:Shashank
Age:21
City:Bangalore

In [54]:
bike = {'brand':'Yamaha','model':'BS 5'}
bike['year'] = 2023
bike['model'] = 'BS 6'
print(bike)

{'brand': 'Yamaha', 'model': 'BS 6', 'year': 2023}

In [55]:
person = {'name':'Shashank','age':21,'city':'Bangalore'}
for key, pair in person.items():
    print(f'{key}: {pair}')

name: Shashank
age: 21
city: Bangalore

In [56]:
employese = {'name':'Shashank','position':'Manager','salary':250000}
del employese['salary']
print(employese)

{'name': 'Shashank', 'position': 'Manager'}